<footer class="footer-wrap-layout1">
    <div class="copyright">© Copyrights <a href="#">Treasure Crest Integrated School</a>
        <%= new Date().getFullYear();%>. All
        rights
        reserved.
        Designed
        by <a href="#">Teamwebbravo</a></div>
</footer>