<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%- pageTitle %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#451fa4">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Normalize CSS -->
    <link rel="stylesheet" href="/admin-panel-asset/css/normalize.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/admin-panel-asset/css/main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/admin-panel-asset/css/bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/admin-panel-asset/css/all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="/admin-panel-asset/fonts/flaticon.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/admin-panel-asset/css/animate.min.css">
    <!-- Select 2 CSS -->
    <link rel="stylesheet" href="/admin-panel-asset/css/select2.min.css">
    <!-- Date Picker CSS -->
    <link rel="stylesheet" href="/admin-panel-asset/css/datepicker.min.css">
    <!-- Data Table CSS -->
    <link rel="stylesheet" href="/admin-panel-asset/css/jquery.dataTables.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/admin-panel-asset/css/style.css">
    <!-- Modernize js -->
    <script src="/admin-panel-asset/js/modernizr-3.6.0.min.js"></script>

    <script src="https://cdn.tiny.cloud/1/f95eziy2o0lpthtobzz9qbmjkstm47hh6bzf3r4gfggll9u1/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

</head>