    <% if(error && Array.isArray(error) && error.length > 0) { %>
    <% Object.keys(error).forEach(key => { %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%- error[key]["msg"];  %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <% }); %>
    <% }  %>


    <% if(typeof duplicateError !== 'undefined' && duplicateError.length > 0) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%- duplicateError %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <% } %>


    <% if(warning && warning.length > 0) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%-warning %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <% } %>

    <% if(success && success.length > 0) { %>
    <div class="alert alert-success">
        <%-success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <% } %>