<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul id="nav">
                            <li class="current"><a href="/">Home</a></li>

                            <li><a href="/about">About us</a></li>

                            <li><a href="#">Media<i class="fa fa-angle-down"></i></a>
                                <ul class="sub-menu">
                                    <li><a href="media/photos">Photo Gallery</a></li>
                                    <li><a href="media/videos">Video Gallery</a></li>
                                </ul>

                            </li>
                            <li><a href="/blog">Blog</a></li>

                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>