<div class="header-logo-menu sticker">
    <div class="container">
        <div class="logo-menu-bg">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="logo">
                        <a href="/"><img src="/img/logo/logo.jpg" alt="Treasure Crest Integrated School"></a>
                    </div>
                </div>
                <div class="col-md-9 hidden-sm hidden-xs">
                    <div class="mainmenu-area">
                        <div class="mainmenu">
                            <nav>
                                <ul id="nav">
                                    <li class="current"><a href="/">Home</a></li>

                                    <li><a href="/about">About us</a></li>

                                    <li><a href="#">Media<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="media/photos">Photo Gallery</a></li>
                                            <li><a href="media/videos">Video Gallery</a></li>
                                        </ul>

                                    </li>
                                    <li><a href="/blog">Blog</a></li>

                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </nav>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>