<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> <%= pageTitle %> - Treasure Crest Integrated School</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#451fa4">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700|Montserrat&display=swap'
        rel='stylesheet' type='text/css'>


    <meta name="robots" content="index,follow" />
    <meta name="og:title" property="og:title" content="Treasure Crest Integrated School">

    <meta name="description" content="At Treasure Crest Integrated School
        we also teach your children about the basic values of human beings such as
         honesty, kindness, generosity, courage, freedom, equality and respect.
         Learn to celebrate diversity in a spirit of understanding and
         tolerance and develop a positive regard and awareness of other people">

    <meta name="keywords" content="Treasure Crest, Treasure Crest Integrated School, Schools, Warri School, ">

    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://treasurecrestintegrated.com/" />
    <meta property="og:image" content="https://treasurecrestintegrated.com/img/banner/7.jpg" />
    <meta property="og:description" content="At Treasure Crest Integrated School
    we also teach your children about the basic values of human beings such as
     honesty, kindness, generosity, courage, freedom, equality and respect.
     Learn to celebrate diversity in a spirit of understanding and
     tolerance and develop a positive regard and awareness of other people" />

    <link rel="stylesheet" href="/css/import.css">

    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>


<body>

    <header>
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-7 hidden-xs">
                        <div class="header-top-info">
                            <span>Open hours: 7:00am - 5:00pm Mon-Fri</span>
                            <div class="social-links">
                                <a href="/#"><i class="fa fa-facebook"></i></a>
                                <a href="/#"><i class="fa fa-google-plus"></i></a>
                                <a href="/#"><i class="fa fa-twitter"></i></a>
                                <a href="/#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <div class="header-login-register">
                            <ul class="login">
                                <li>
                                    <a href="/#"><i class="fa fa-key"></i>Login</a>
                                    <!-- < -->
                                    <div class="login-form">
                                        <a href="/parents/login"><i class="fa fa-key"></i>Parents Login</a>
                                        <a href="/teachers"><i class="fa fa-user"></i>Teachers Login</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>