# The .env file
variables.env

# The module dir for Node package manager
/node_modules

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# ESLINT FILE
.eslintrc

# dotenv environment variables file
variables.env

# The Sql table
table.txt

# Test files
simple-server.js
/tests

#Other scrap files
package2.json

#Access Log
access.log

# The Photos Folder
public/uploads/students/*


# The Result folder
public/uploads/results/*


# Ignore any .sql File
*.sql


# Ignore GIT ignore
.gitingnore