<!doctype html>
<html class="no-js" lang="">

<% pageTitle = "School Admission " %>


<!-- Header -->
<% include partials/public-header %>

<!-- Navbar for Desktop -->
<% include partials/navbar %>

<!-- Navbar for Mobile -->
<%include partials/navbar-mobile %>



<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Admission </h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li>Admission</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="activity-area">
    <div class="container">
        <!-- <div class="row">
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <div class="single-activity-icon">
                        <i class="fa fa-gamepad"></i>
                    </div>
                    <h4>Funny Games</h4>
                    <p>Fusce pretium, est at aliquam semper, leo ante facilisis risus in feugiat ipsum augue pellent
                        esque metu.</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <div class="single-activity-icon">
                        <i class="fa fa-fort-awesome"></i>
                    </div>
                    <h4>Toys</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                        been the industry's</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-4 activity">
                <div class="single-activity">
                    <div class="single-activity-icon">
                        <i class="fa fa-futbol-o"></i>
                    </div>
                    <h4>Activities</h4>
                    <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages</p>
                </div>
            </div>
            <div class="col-md-3 hidden-sm activity">
                <div class="single-activity">
                    <div class="single-activity-icon">
                        <i class="fa fa-pencil"></i>
                    </div>
                    <h4>Education</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its layout</p>
                </div>
            </div>
        </div> -->
    </div>
</div>

<div class="about-area section-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h1>Who are we ?</h1>
                        <p>Kindness, Generosity and Courage</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-text-container">
                    <p> Welcome to <strong>Treasure Crest Integrated School</strong> come with us, we also teach
                        children about the
                        basic values
                        of human beings as honesty, kindness, generosity, courage, freedom, equality and respect.
                        Learn to celebrate diversity in a spirit of understanding and tolerance and develop a
                        positive regard and awareness of other people. They are taught the values and
                        responsibilities needed to become active members of the community, tolerance and develop
                        something which the modern world is desperate for.
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="skill-image">
                    <img data-src="img/banner/7.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>



<div class="about-area section-padding-bottom">
    <div class="container mt-4 ">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h1>Our Story</h1>
                        <p>How is all began</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-text-container">
                    <p><strong>Treasure Crest Integrated School</strong> was established in 2014 and started its
                        educational
                        activities effectively on 22nd September 2014/2015 academic session.
                        The school was founded by Gloria Dumebi Osung (Mrs), who nursed the dream of having a
                        preparatory school during her National Certificate in Education (NCE) programme. The school
                        is poised to provide a solid early childhood education for the Nigerian child.
                        <strong>Treasure Crest Integrated School</strong> is a co-educational Institution that is set to
                        provide
                        instruction using an enhanced and integrated British, Montessori and Nigeria curricula that
                        caters for academic, social, moral, physical and psychological needs of children from the
                        nursery to primary level.
                        We also run a Crèche programme aimed at families who have long working hours and have need
                        for the services provided by this Crèche programme. We hope to run a holistic educational
                        programme that will contribute meaningfully to the improvement of the state of our
                        educational sector in the country and to lead this young generation to God by imbibing
                        spirituality and creativity in them and bringing out the very best out of them.
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="skill-image">
                    <img data-src="img/banner/8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-area section-padding-bottom">
    <div class="container mt-4 ">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h1>ADMISSIONS POLICY &amp; PROCEDURES
                        </h1>
                        <p>How is all began</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="about-text-container">
                    <p>
                        <strong>Mission</strong> <br>
                        To offer a broad based education intended to raise a first class global child who will be
                        physically, intellectually, socially, psychologically and morally able to withstand the demands
                        of our dynamic society.
                    </p>

                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text-container">
                    <p>
                        <strong>Vision</strong> <br>
                        To provide quality education that will enable the child achieve his God given potentials to the
                        maximum and make a difference
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="skill-and-experience-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Skills and Experience</h3>
                        <p>Fable daycare, preschool, and kindergarten</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="experience-skill-wrapper">
                    <div class="skill-bars orange">
                        <div class="skill-bar-item">
                            <span>Science and Technology</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;"
                                    data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">80%</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-item">
                            <span>Speech and Etiquette</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%;"
                                    data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">90%</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-item">
                            <span>English Lessons</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="70%" style="width: 70%;"
                                    data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">70%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="experience-skill-wrapper">
                    <div class="skill-bars orange">
                        <div class="skill-bar-item">
                            <span>French</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="75%" style="width: 75%;"
                                    data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">75%</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-item">
                            <span>Creativity</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="90%" style="width: 90%;"
                                    data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">90%</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-item">
                            <span>ICT (Coding & Robotics)</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="80%" style="width: 80%;"
                                    data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">80%</span>
                                </div>
                            </div>
                        </div>
                        <div class="skill-bar-item">
                            <span>Language Skills</span>
                            <div class="progress">
                                <div class="progress-bar wow fadeInLeft" data-progress="100%" style="width: 100%;"
                                    data-wow-duration="1.5s" data-wow-delay="1.2s">
                                    <span class="text-top">100%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<% include partials/public-footer %>

</body>

</html>