<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Treasure Crest Integrated School</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700|Montserrat&display=swap'
        rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/css/import.css">

    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<header>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 hidden-xs">
                    <div class="header-top-info">
                        <span>Open hours: 8.00-18.00 Mon-Sat</span>
                        <div class="social-links">
                            <a href="/#"><i class="fa fa-facebook"></i></a>
                            <a href="/#"><i class="fa fa-google-plus"></i></a>
                            <a href="/#"><i class="fa fa-twitter"></i></a>
                            <a href="/#"><i class="fa fa-pinterest-p"></i></a>
                            <a href="/#"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-5">
                    <div class="header-login-register">
                        <ul class="login">
                            <li>
                                <a href="/#"><i class="fa fa-key"></i>Login</a>
                                <div class="login-form">
                                    <h4>Login</h4>
                                    <form action="https://treasurecrestschools.com/#" method="post">
                                        <div class="form-box">
                                            <i class="fa fa-user"></i>
                                            <input type="text" name="user-name" placeholder="Username">
                                        </div>
                                        <div class="form-box">
                                            <i class="fa fa-lock"></i>
                                            <input type="password" name="user-password" placeholder="Password">
                                        </div>
                                        <div class="button-box">
                                            <button type="submit" class="login-btn">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                        <ul class="register">
                            <li>
                                <a href="/#"><i class="fa fa-lock"></i>Sign Up</a>
                                <div class="register-form">
                                    <h4>Sign Up</h4>
                                    <span>Please sign up using account detail bellow.</span>
                                    <form action="https://treasurecrestschools.com/#" method="post">
                                        <div class="form-box">
                                            <i class="fa fa-user"></i>
                                            <input type="text" name="user-name" placeholder="Username">
                                        </div>
                                        <div class="form-box">
                                            <i class="fa fa-lock"></i>
                                            <input type="password" name="user-password" placeholder="Password">
                                        </div>
                                        <div class="form-box">
                                            <i class="fa fa-envelope"></i>
                                            <input type="email" name="user-email" placeholder="Email">
                                        </div>
                                        <div class="button-box">
                                            <input checked data-toggle="toggle" type="checkbox">
                                            <span>Remember me</span>
                                            <button type="submit" class="register-btn">Register</button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="header-logo-menu sticker">
    <div class="container">
        <div class="logo-menu-bg">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="logo">
                        <a href="/"><img src="img/logo/logo.jpg" alt="Treasure Crest Integrated School"></a>
                    </div>
                </div>
                <div class="col-md-9 hidden-sm hidden-xs">
                    <div class="mainmenu-area">
                        <div class="mainmenu">
                            <nav>
                                <ul id="nav">
                                    <li class="current"><a href="/">Home</a></li>

                                    <li><a href="about.html">About us</a></li>
                                    <!-- <li><a href="class-grid.html">Classes <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="class-grid.html">Classes Grid</a></li>
                                            <li><a href="class-list.html">Classes List</a></li>
                                            <li><a href="class-details.html">Class Details</a></li>
                                        </ul>
                                    </li> -->
                                    <li><a href="teacher.html">Teachers<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="teacher-info.html">Teachers Info</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                    <li><a href="/">Pages <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="about.html">About Us</a></li>
                                            <li><a href="blog.html">Blog Page</a></li>
                                            <li><a href="blog-details.html">Blog Details Page</a></li>
                                            <li><a href="class-grid.html">Class Grid</a></li>
                                            <li><a href="class-list.html">Class List</a></li>
                                            <li><a href="class-details.html">Class Details</a></li>
                                            <li><a href="teacher.html">Teachers Page</a></li>
                                            <li><a href="teacher-info.html">Teachers Info</a></li>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="blog.html">Blog<i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                        <ul class="header-search">
                            <li class="search-menu">
                                <i id="toggle-search" class="fa fa-search"></i>
                            </li>
                        </ul>

                        <div class="search">
                            <div class="search-form">
                                <form id="search-form" action="/search ">
                                    <input type="search" placeholder="Search here..." name="search" />
                                    <button type="submit">
                                        <span><i class="fa fa-search"></i></span>
                                    </button>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mobile-menu-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="mobile-menu">
                    <nav id="dropdown">
                        <ul>
                            <li><a href="/">HOME</a></li>
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="class-grid.html">Classes</a>
                                <ul>
                                    <li><a href="class-grid.html">Classes Grid</a></li>
                                    <li><a href="class-list.html">Classes List</a></li>
                                    <li><a href="class-details.html">Class Details</a></li>
                                </ul>
                            </li>
                            <li><a href="teacher.html">Teachers Page</a>
                                <ul>
                                    <li><a href="teacher-info.html">Teachers Info</a></li>
                                </ul>
                            </li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="blog.html">Blog Page</a>
                                <ul>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="slider-area slider-three-area">
    <div class="preview-2">
        <div id="nivoslider" class="slides">
            <img src="/img/slider/slide_1.jpg" alt="" title="#slider-1-caption1" />
            <img src="/img/slider/slide_2.jpg" alt="" title="#slider-1-caption2" />
        </div>
        <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
            <div class="banner-content slider-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="text-content hidden-xs">
                                <p class="sub-title text-white">Your Child can be a genius with a</p>
                                <h1 class="title1">Better Learning <br> Facility</h1>
                                <div class="banner-readmore">
                                    <a title="Read more" href="index-2.html#">Enroll your child</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
            <div class="banner-content slider-2 slider-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="text-content hidden-xs">
                                <p class="sub-title">Your Child deserves a</p>
                                <h1 class="title1">Bettter Education</h1>
                                <div class="banner-readmore">
                                    <a title="Read more" href="index-2.html#">Enroll your child</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="activity-area">
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h1>Our Values</h1>
                        <p></p>
                    </div>
                </div>
                <p class="lead">
                    <strong>Treasure Crest Integrated School</strong> offers many opportunities for the development of
                    your ward, developing personally and
                    academically, encouraging a lifestyle based on good values and teaching. We offer a safe, secure and
                    well-resourced environment which fosters respect for self, other children and adults, and the
                    environment.
                </p>
                <p class="lead">

                    In a creative and joyous learning atmosphere children are able to experience enjoyment of school and
                    celebrate the attainment of their full and highest capability. They are supported and challenged
                    with learning programmes that meet their specific personal and educational needs.
                </p>

                <p>
                    <a href="/about" class="button-default">Read More <i class="fa fa-angle-right"></i></a>
                </p>

            </div>
        </div>
    </div>
</div>


<div class="advertise-area text-center section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Start today <span>Enroll Your Child</span> with us</h2>
                <a href="/enrollment">Join Us</a>
            </div>
        </div>
    </div>
</div>

<div class="small-service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Services</h3>
                        <p>Our best services for your Kids</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-cutlery"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Meals Provided</h4>
                        <p>It has survived not only five but also the lorem ipsum is leap of into electronic
                            typesetting, remaining essentially unchanged.</p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Full Day Session</h4>
                        <p>And more recently with desktop ispsing with the publishing software like Aldus PageMaker
                            including of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-language"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Language Lessons</h4>
                        <p>Lorem ipsum dolor sit amet al cotetur adipisicing elit, sed do mod tempor incididunt ut
                            labore etdolore versions ipsum!</p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-bookmark"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Special Education</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a
                            page looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-bus"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Transportation</h4>
                        <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages when is looking.</p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Qualified Teachers</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            suffered alteration in some form, by injected.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="class-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>Our Classes</h3>
                        <p>Our preschool program has six dedicated classes</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="class-carousel carousel-style-one">
                <div class="col-md-4">
                    <div class="single-class">
                        <div class="single-class-image">
                            <a href="/#">
                                <img src="img/class/10.jpg" alt="">
                                <span class="class-date">Apr 21 <span>2016</span></span>
                            </a>
                        </div>
                        <div class="single-class-text">
                            <div class="class-des">
                                <h4><a href="/#">Letter Match Class</a></h4>
                                <p>The concept of the activity room is about 'Learning', through play, in a totally
                                    different environment. The perfect class for your child with the best.</p>
                            </div>
                            <div class="class-schedule">
                                <span>AGE: 5 - 6 years</span>
                                <span>CLASS SIZE: 25</span>
                                <span class="arrow"><a href="/#"><i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-class">
                        <div class="single-class-image">
                            <a href="/#">
                                <img src="img/class/11.jpg" alt="">
                                <span class="class-date">OCT 10 <span>2016</span></span>
                            </a>
                        </div>
                        <div class="single-class-text">
                            <div class="class-des">
                                <h4><a href="/#">Cool Math Class</a></h4>
                                <p>The students learn different skills like rhythm, flexibility, and coordination. Lorem
                                    ipsum dolor sit amet. The perfect class for your child with the best.</p>
                            </div>
                            <div class="class-schedule">
                                <span>AGE: 4 - 5 years</span>
                                <span>CLASS SIZE: 38</span>
                                <span class="arrow"><a href="/#"><i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-class">
                        <div class="single-class-image">
                            <a href="/#">
                                <img src="img/class/12.jpg" alt="">
                                <span class="class-date">FEB 19 <span>2016</span></span>
                            </a>
                        </div>
                        <div class="single-class-text">
                            <div class="class-des">
                                <h4><a href="/#">Alphabet Matching Class</a></h4>
                                <p>orem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugit perferendis
                                    adipisicing quam quis. Ab alias amet animir explica.</p>
                            </div>
                            <div class="class-schedule">
                                <span>AGE: 3 - 4 years</span>
                                <span>CLASS SIZE: 50</span>
                                <span class="arrow"><a href="/#"><i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-class">
                        <div class="single-class-image">
                            <a href="/#">
                                <img src="img/class/10.jpg" alt="">
                                <span class="class-date">Apr 21 <span>2016</span></span>
                            </a>
                        </div>
                        <div class="single-class-text">
                            <div class="class-des">
                                <h4><a href="/#">Letter Match Class</a></h4>
                                <p>The concept of the activity room is about 'Learning', through play, in a totally
                                    different environment. The perfect class for your child with the best.</p>
                            </div>
                            <div class="class-schedule">
                                <span>AGE: 5 - 6 years</span>
                                <span>CLASS SIZE: 25</span>
                                <span class="arrow"><a href="/#"><i class="fa fa-angle-right"></i></a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="google-map-area">

    <div id="contacts" class="map-area">
        <div id="googleMap" style="width:100%;height:451px;"></div>
    </div>
</div>


<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-info-container text-center section-padding">
                    <div class="footer-logo">
                        <a href="index-2.html#"><img src="img/logo/footer-logo.png" alt=""></a>
                    </div>
                    <div class="footer-info">
                        <span><i class="fa fa-map-marker"></i>1st Floor New World Tower Miami</span>
                        <span><i class="fa fa-envelope"></i><a
                                href="https://websitedownloader.io/cdn-cgi/l/email-protection" class="__cf_email__"
                                data-cfemail="1273767f7b7c52627d6577603f707d7d6166613c717d7f">[email&#160;protected]</a></span>
                        <span><i class="fa fa-phone"></i>(801) 2345 - 6789</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-widget-container section-padding">
            <div class="row">
                <div class="col-md-2 col-sm-3">
                    <div class="single-footer-widget">
                        <h4>Our School</h4>
                        <ul class="footer-widget-list">
                            <li><a href="index-2.html#">About Us</a></li>
                            <li><a href="index-2.html#">Blog</a></li>
                            <li><a href="index-2.html#">Contact</a></li>
                            <li><a href="index-2.html#">Become a Teacher</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 hidden-sm">
                    <div class="single-footer-widget">
                        <h4>Links</h4>
                        <ul class="footer-widget-list">
                            <li><a href="index-2.html#">Courses</a></li>
                            <li><a href="index-2.html#">Events</a></li>
                            <li><a href="index-2.html#">Gallery</a></li>
                            <li><a href="index-2.html#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3">
                    <div class="single-footer-widget">
                        <h4>Support</h4>
                        <ul class="footer-widget-list">
                            <li><a href="index-2.html#">Documentation</a></li>
                            <li><a href="index-2.html#">Forums</a></li>
                            <li><a href="index-2.html#">Language Packs</a></li>
                            <li><a href="index-2.html#">Release Status</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="subscribe-container">
                        <p>Subscribe now and receive weekly newsletter with educational materials, new courses,
                            interesting posts, popular books and much more!</p>
                        <form
                            action="https://websitedownloader.io/wp-content/uploads/webdown/59ec1f61e9352/devitems.com//tf/techedu-preview/techedu/index-2.html#">
                            <div class="subscribe-form">
                                <input type="email" name="email" placeholder="Your email here">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="footer-container">
                    <div class="row">
                        <div class="col-md-6">
                            <span>&copy; 2016 <a href="index-2.html#">Power-Boosts</a>. All rights reserved</span>
                        </div>
                        <div class="col-md-6">
                            <div class="social-links">
                                <a href="index-2.html#"><i class="fa fa-facebook"></i></a>
                                <a href="index-2.html#"><i class="fa fa-google-plus"></i></a>
                                <a href="index-2.html#"><i class="fa fa-twitter"></i></a>
                                <a href="index-2.html#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="index-2.html#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="js/vendor/jquery-1.12.3.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/bootstrap-toggle.min.js"></script>

<script src="lib/nivo-slider/js/jquery.nivo.slider.js" type="text/javascript"></script>
<script src="lib/nivo-slider/home.js" type="text/javascript"></script>

<script src="js/wow.min.js"></script>

<script src="js/jquery.meanmenu.js"></script>

<script src="js/owl.carousel.min.js"></script>

<script src="js/jquery.countdown.min.js"></script>

<script src="js/jquery.scrollUp.min.js"></script>

<script src="js/waypoints.min.js"></script>

<script src="js/jquery.counterup.min.js"></script>

<script src="js/slick.min.js"></script>

<script src="js/jquery.mixitup.js"></script>

<script src="js/venobox.min.js"></script>

<script src="js/plugins.js"></script>

<script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBuU_0_uLMnFM-2oWod_fzC0atPZj7dHlU"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script>
    function initialize() {
        var mapOptions = {
            zoom: 15,
            scrollwheel: false,
            center: new google.maps.LatLng(23.763494, 90.432226)
        };

        var map = new google.maps.Map(document.getElementById('googleMap'),
            mapOptions);


        var marker = new google.maps.Marker({
            position: map.getCenter(),
            animation: google.maps.Animation.BOUNCE,
            icon: 'img/map-marker.png',
            map: map
        });

    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>

<script src="/js/main.js"></script>
</body>

</html>