<!doctype html>
<html class="no-js" lang="">

<% pageTitle = "Welcome to " %>

<!-- Header -->
<% include partials/public-header %>

<!-- Navbar for Desktop -->
<% include partials/navbar %>

<!-- Navbar for Mobile -->
<%include partials/navbar-mobile %>



<div class="slider-area slider-three-area">
    <div class="preview-2">
        <div id="nivoslider" class="slides">
            <img data-src="/img/slider/slide_4.jpg" alt="" title="#slider-1-caption1" />
            <img data-src="/img/slider/slide_1.jpg" alt="" title="#slider-1-caption2" />
            <img data-src="/img/slider/slide_2.jpg" alt="" title="#slider-1-caption3" />
        </div>
        <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
            <div class="banner-content slider-3 slider-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="text-content hidden-xs">
                                <p class="sub-title">We know that</p>
                                <h1 class="title1">Every Child is Creative</h1>
                                <div class="banner-readmore">
                                    <a title="Read more" href="/contact">Enroll your child</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
            <div class="banner-content slider-2">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="text-content hidden-xs">
                                <p class="sub-title text-white">Your Child can be a genius with a</p>
                                <h1 class="title1">Better Learning <br> Facility</h1>
                                <div class="banner-readmore">
                                    <a title="Read more" href="/contact">Enroll your child</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="slider-1-caption3" class="nivo-html-caption nivo-caption">
            <div class="banner-content slider-2 slider-left">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7">
                            <div class="text-content hidden-xs">
                                <p class="sub-title">Your Child deserves a</p>
                                <h1 class="title1">Bettter Education</h1>
                                <div class="banner-readmore">
                                    <a title="Read more" href="/contact">Enroll your child</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="activity-area">
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h1>What makes us Unique ?</h1>
                        <p></p>
                    </div>
                </div>
                <p class="lead">
                    <strong>Treasure Crest Integrated School</strong> offers many opportunities for the development of
                    your ward, developing personally and
                    academically, encouraging a lifestyle based on good values and teaching. We offer a safe, secure and
                    well-resourced environment which fosters respect for self, other children and adults, and the
                    environment.
                </p>
                <p class="lead">

                    In a creative and joyous learning atmosphere children are able to experience the enjoyment of school
                    and
                    celebrate the attainment of their full and highest capability. They are supported and challenged
                    with learning programmes that meet their specific personal and educational needs.
                </p>

                <p>
                    <a href="/about" class="button-default">Read More <i class="fa fa-angle-right"></i></a>
                </p>

            </div>
        </div>
    </div>
</div>


<div class="advertise-area text-center section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Start today <span>Enroll Your Child</span> with us</h2>
                <a href="/enrollment">Join Us</a>
            </div>
        </div>
    </div>
</div>

<div class="small-service-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h1>Our Services</h1>
                        <p>Our best services for your Kids</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-cutlery"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Meals Provided</h4>
                        <p>
                            We serve well-balanced diet prepared by trained Chef. Our menu ranges from friuts and
                            Vegetables, Vitamins and Healthy Protein.....
                            <h5>Our Food is Yummmy! 😋</h5>
                        </p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-calendar-check-o"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>After School Club</h4>
                        <p>TCIS Offers the best quality of care after school to children to develop, discover, enjoy
                            themselves and grow in a safe, secure and caring evironment</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-book"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Global Curricula</h4>
                        <p>
                            Our educational system is a blend of EYFS, Montessori, British and National Curriculum which
                            ensure we only give the best educational structure to our pupils

                        </p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-child"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Special Education Needs</h4>
                        <p>
                            We run an inclusive education whereby serious thought is given to children with certain
                            characteristics, It gives them a sense of belonging and become better prepared for life in
                            the community.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-bus"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Transportation</h4>
                        <p>
                            When it comes to our learners, security and safety are paramount. TCIS offers safe and
                            reliable transportation for interested parents on a termly basis.
                        </p>
                    </div>
                </div>
                <div class="single-small-service">
                    <div class="small-service-icon">
                        <i class="fa fa-graduation-cap"></i>
                    </div>
                    <div class="small-services-text">
                        <h4>Qualified Teachers</h4>
                        <p>
                            TCIS highly experienced, Dedicated and God-fearing Staff who moulds the learners using the
                            21st-century methods
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="google-map-area">

    <div id="contacts" class="map-area">
        <div id="googleMap" style="width:100%;height:451px;">
            <iframe style="width:100%;height:451px;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3971.023750169032!2d5.797722405222476!3d5.563497536289211!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1041add4f188f7b1%3A0x388038baf0aee797!2sTreasure%20Crest%20Integrated%20School!5e0!3m2!1sen!2sng!4v1578797234839!5m2!1sen!2sng"
                frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
    </div>
</div>


<% include partials/public-footer %>

</body>

</html>